.expenses-form {
	width: 17em;
	margin: 0 auto 24px;
}

.expenses-form .wide-field {
	margin-bottom: 8px;
}

.expenses-form .btn-submit {
	display: block;
	width: 15em;
    margin: 22px auto 0;
    border: none;
    background-color: #f7f7f7;
	padding: 8px 0;
	cursor: pointer;
}
